openapi: 3.0.1
info:
  title: National Sample Survey (NSS 73rd Round)
  version: 1.0.0
servers:
- url: https://api.mospi.gov.in/
tags:
- name: National Sample Survey (NSS 73rd Round)
  description: Unincorporated Non-Agricultural Enterprises in India (NSS 73rd Round)
paths:
  /api/nss-73/getNss73Records:
    get:
      tags:
      - NSS73
      operationId: NSS73IndicatorValues
      description: |
        - **Required:** `indicator_code` (must exist in indicator table)
        - **Filters (optional):** sub_indicator_code, state_ut_code, sector_code, broad_activity_category_code, enterprise_type_code, activity_category_code, hired_workers_code, enterprises_by_ownership_code, nature_of_employment_type_code, gva_per_worker_code
        - `1` = Number of Enterprises → `activity_category_code`, `broad_activity_category_code`, `enterprise_type_code`
        - `2` = Type of Ownership → `enterprises_by_ownership_code`, `broad_activity_category_code`, `enterprise_type_code`
        - `3` = Workers → `gender_code`, `nature_of_employment_type_code`, `worker_codes_code`
        - `4` = Emolument per hired worker → `sub_indicator_code`, `hired_workers_code`
        - `5` = GVA per Worker → `gva_per_worker_code` (working hours)
        - `6` = GVA per Enterprise → (no special sub-filter)
        - **Note:** `activity_category_code` and `enterprises_by_ownership_code` are mutually exclusive — they come from separate NSS survey tables and were never cross-tabulated together.
        - **Note:** `activity_category_code` is not a valid dimension for indicators `5` and `6` (GVA-based) at all — these are only broken down at the `broad_activity_category_code` level, not the fine-grained activity list.
      parameters:
      - name: indicator_code
        in: query
        required: true
        schema:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
        description: >
          Indicator code. 1=Number of Enterprises, 2=Type of Ownership,
          3=Workers, 4=Emolument (in Rs.) per hired worker,
          5=Gross Value Added (in Rs.) per Worker,
          6=Gross Value Added (in Rs.) per Enterprise. 
      - name: sub_indicator_code
        in: query
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
        description: Sub Indicator code (1=Annual Emoluments (Rs.) per Hired Worker, 2=Estimated Number of Hired Workers. Comma separated for multiple values)
      - name: sector_code
        in: query
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
        description: Sector code (1=Rural, 2=Urban, 3=Rural+Urban. Comma separated for multiple values)
      - name: state_ut_code
        in: query
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
        description: State code. (1-37 including All India. Comma separated for multiple values)
      - name: broad_activity_category_code
        in: query
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
        description: Broad Activity Category code (1=Manufacturing, 2=Trade, 3=Other services, 5=Non-captive electricity generation and transmission. Comma separated for multiple values)
      - name: enterprise_type_code
        in: query
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
        description: Enterprise Type code (1=Own Account Enterprises, 2=Establishment, 3=All. Comma separated for multiple values)
      - name: activity_category_code
        in: query
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
        description: >
          Activity category code (comma-separated values allowed).
          Manufacturing: 1-25=Specific activities, 26=All Manufacturing.
          Trade: 27-31=Specific activities, 32=All Trade.
          Services: 33-47=Specific activities, 48=All Services.
      - name: hired_workers_code
        in: query
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
        description: Hired Workers code (1=Formal, 2=Informal, 3=All. Comma separated for multiple values)
      - name: enterprises_by_ownership_code
        in: query
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
        description: Enterprises by Ownership code 1=Proprietary male, 2=Proprietary female, 3=Proprietary All, 4=Partnership with members of same household, 5=Partnership with members of different households, 6=Self-help group, 7=Trust, 8=Others, 9=No Response, 10=All. Comma separated for multiple values
      - name: nature_of_employment_type_code
        in: query
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
        description: Nature of Employment Type (1=Full time, 2=Part Time, 3=All. Comma separated for multiple values) 
      - name: gender_code
        in: query
        schema:
          type: integer
        description: Gender code (1=Male, 2=Female, 3=Person. Comma separated for multiple values)
      - name: worker_codes_code
        in: query
        schema:
          type: integer
        description: Worker Codes (1=Working owners, 2=Formal hired workers,3=Informal hired workers, 4=Helper/apprentice, 5=Other workers, 6=Total. Comma separated for multiple values)
      - name: gva_per_worker_code
        in: query 
        schema:
          type: integer
          enum: [1, 2, 3, 4, 5]
        description: > 
          Normal Working Hours in a Day. 1=<4, 2=4-7, 3=8 or more hours, 4=N.R., 5=All. 
          Comma separated for multiple values 
          (Note - DB column name is gva_per_worker_code but represents working-hours categories, not GVA.) 
      - name: survey_code 
        in: query
        schema:
          type: integer
          enum: [1]
        description: >
          Survey round. 1=NSS 73rd Round - Unincorporated Non-Agricultural Enterprises (Excluding Construction), 2015-16.
      - name: limit
        in: query
        schema: 
          type: integer
          default: 20
        description: Number of records per page (default 20)
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
        description: Page number (from 1 to n)
      - name: Format
        in: query
        schema:
          type: string
          default: JSON
          enum:
          - JSON
          - CSV
        description: Output format (JSON or CSV)
      responses:
        '200':
          description: Data fetched successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  meta_data:
                    type: object
                    properties:
                      page:
                        type: integer
                      totalRecords:
                        type: integer
                      totalPages:
                        type: integer
                      recordPerPage:
                        type: integer
                  msg:
                    type: string
                    example: Data fetched successfully
                  statusCode:
                    type: boolean
                    example: true
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Missing required parameter: indicator_code"
                  statusCode:
                    type: boolean
                    example: false
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Internal server error
                  statusCode:
                    type: boolean
                    example: false
      security:
      - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      description: Bearer token to access the API
      name: Authorization
      in: header
x-original-swagger-version: '2.0'
